<div mat-dialog-title>Employee Form</div>
<form [formGroup]="empForm" (ngSubmit)="onsave()">
    <div mat-dialog-content class="c1">
        <div class="row">
            
                <mat-form-field appearance="outline">
                    <mat-label>Frist Name</mat-label>
                    <input matInput placeholder="Ex. Ritesh" type="text" formControlName="firstname" >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Ex. barot" type="text" formControlName="lastname" >
                </mat-form-field>
            

        </div>

        <div class="row">
            
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. Ritesh@gmail.com" type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">

                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            

        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>

            </mat-radio-group>

        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Qualification</mat-label>
                <mat-select formControlName="education">
                    <mat-option *ngFor="let edu of education" [value]="edu">
                        {{edu}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Ex. FaceBook" type="text" formControlName="company">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <input matInput placeholder="Ex. 3" type="number" formControlName="exp">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Package</mat-label>
                <input matInput placeholder="Ex. 10.5lacs" type="number" formControlName="package">
                <mat-hint>in ruppes</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
<button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
<button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>

            <!-- <button mat-raised-button color="primary">{{data ? 'update':'save'}}</button> -->
        </div>
</form>